<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="Prova1" />

    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, System.Data.OracleClient, or MySql.Data.MySqlClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />

    <!--Provider do MySQL-->
    <!--<add key="DataProvider" value="MySql.Data.MySqlClient" />-->
  </appSettings>

  <connectionStrings>
    <!--Connection String do banco SQL SERVER-->
    <add name="Prova1" connectionString="Data Source=(localdb)\MSSqllocaldb;Initial Catalog=Prova1;Integrated Security=True;Pooling=False" />

    <!--Connection String do banco MYSQL-->
    <!--<add name="Prova1" connectionString="Server=localhost;Port=3306;Database=prova1_mysql;Uid=root;Pwd=P@ssw0rd;"  />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
