<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="TesteMariana" />
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, System.Data.OracleClient, or MySql.Data.MySqlClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
  </appSettings>

  <connectionStrings>
    <!--Connection String do banco SQL SERVER-->
    <add name="TesteMariana" connectionString="Data Source=(localdb)\MSSqllocaldb;Initial Catalog=TesteMariana;Integrated Security=True;Pooling=False" />
  </connectionStrings>
  
</configuration>